body {
	background: url(http://img1.mxstatic.com/wallpapers/34903c7e90faffd307d10ad7f99251bb_large.jpeg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */

}

.conteneur { /*Contenu principal de la page qui contient tous les éléments*/
	margin: auto;
	width: 500px;
	text-align: center;
	margin-top: 30px;
}
.cookie{
	position: relative;
	display: flex;
	

}

h1 {
	margin-top: 250px;
	margin-left: -290px;
	font-size: 80px;
	
	text-shadow: -0.07em 0 #EFD912,
             0.07em 0 white;
	
}
h2 {
	margin-top: 250px;
	margin-right: 100px;
	font-size: 80px;
	
	text-shadow: -0.07em 0 #EFD912,
             0.07em 0 white;

	


}

#img1{
	cursor: pointer;
}
#curseur{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 300px;
	left: 120px;
	display: block;
}
.score{
	border:5px solid #231500;
	margin:auto;
	margin-top: 10px;
	background-image: radial-gradient(#E1BB83, #543300);
	box-shadow: 6px 6px 0 black;
	width: 350px;
	display: flex;
	justify-content: space-between;

}
.score p{
	padding: 10px;
	font-size: 1.3em;
}

#score { /*Texte qui affiche le score*/
	border: 2px solid #231500;
	text-align: center;
	background-color: #FFFFFF;
	font-weight: bold;
	width: 100px;
	height: 5px;
	font-family: "Impact", sans-serif;
	font-size: 18px;
	padding-bottom: 20px;
	margin-right: 5px;
}

.resetbutton { /*Bouton de reset*/
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	margin-top: 10px;
}
.resetbutton:hover { /*Bouton de reset quand la souris passe dessus*/
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.resetbutton:active { /*Bouton de reset quand cliqué dessus*/
	position:relative;
	top:1px;
}

.bas {
	margin-right: 20px;
}
